/* ul{
    list-style-type: armenian;
    list-style-type:circle;
    list-style-type:decimal;
    list-style-type:decimal-leading-zero;
    list-style-type:disc;
    list-style-type:georgian;
    list-style-type:lower-alpha;
    list-style-type:lower-greek;
    list-style-type:lower-latin;
    list-style-type:square;
    list-style-type:upper-alpha;
    list-style-type:upper-latin;
    list-style-type:upper-roman;
    list-style-type:none;

    list-style-image: url(./img/hand.png);

    list-style-position: outside;
    margin: 0;
    padding: 0;
    list-style-position: inside;
} */

ul{
    background-color: blueviolet;
    padding: 25px;
    list-style-position: inside;
}

li{
    background-color: rgb(221, 126, 208);
    padding: 5px;
    border-bottom: 1px solid rgb(255, 0, 0);
}