:root{
    --purple: #686de0;
    --cream: #f6e58d;
}
.position{
background: var(--purple);
max-width: 100%;
height: 200px;
display: flex;
padding: 2%;
margin-bottom: 30px;
}

.item, .child{
    flex-basis: 50px;
    height: 50px;
    background: var(--cream);
    margin-right: 10px;
    text-align: center;
    padding-top: 5px;
}

/* Order always start from last */

.item:nth-child(5){
    order: 1;
    background: #e55c00;
    color: aliceblue;
}
.item:nth-child(1){
    order: 2;
    background: #7ae500;
    color: aliceblue;
}
.item:nth-child(6){
    order: 3;
    background: #e50099;
    color: aliceblue;
}
.item:nth-child(3){
    order: 4;
    background: #00b7e5;
    color: aliceblue;
}

/* child class suru */

.child:nth-child(2){
    order: 1;
    flex-grow: 1;
}
.child:nth-child(1){
    order: 2;
    flex-grow: 1;
}
.child:nth-child(3){
    order: 3;
    flex-grow: 2;
}
.child:nth-child(4){
    order: 4;
    flex-grow: 4;
}