body{
    background: url(./img/bg.jpg);
    background-attachment: fixed;
    /* background-attachment: scroll; */
}

div{
    background-color: #e77d9b84;
    background-image: url(./img/css.png);
    background-repeat: no-repeat;
    /* background-repeat: repeat-y; */
    /* background-repeat: repeat-x; */
    background-position: center right;
    
    /* Shorthand */
    background: #e77d9b84 url(./img/css.png) no-repeat center right;
    background-size: 100px 100px;
    margin: 15px;
    padding: 10px;
}

h2{
    font-size: 60px;
    /* border-style:ridge;
    border-width: 10px;
    border-color: aquamarine;


    border: 5px solid coral;
    border-radius: 10px; */

    border-left: 5px solid rgb(255, 47, 47) ;
    border-right: 5px dotted greenyellow ;
    border-bottom: 15px groove greenyellow ;
    border-top: 15px double greenyellow ;

}

