:root{
    --violet: #f3c3f9;
    --pink: #ccff00;
    --darkColor: #00672d;
    --whiteColor: #fff;
    --defaultWidth: 80%;
}

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--violet);
    margin: 0;
}

.main_area{
    margin: 20px auto;
    width: var(--defaultWidth);
}

.main_area h2{
    text-align: center;
    padding: 20px;
    background: var(--pink);
    color: var(--darkColor);
}

.child{
    background-color: var(--darkColor);
    color: var(--whiteColor);
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
}

.child h4{
    margin: 0px;
    font-size: 25px;
}
.child p{
    margin-bottom: 20px;
    font-weight: 600;
}

.child a{
    padding: 10px 20px;
    background-color: var(--pink);
    text-decoration: none;
    font-weight: bold;
    color: var(--darkColor);
}

.child a:hover{
    background-color: var(--violet);
    color: var(--pink);
}