* {
  margin: 0;
  padding: 0;
}

html {
  height: 50%;
}

body {
  height: inherit;
}

.parent {
  background-color: blueviolet;
  color: #000000;
  /* width: 400px; */
  width: 92%;
  margin: 20px auto;
  padding: 2%;
  /* max-width: 1140px;
    min-width: 320px; */
  height: initial;
}
